# Python and Node.js
__pycache__/
*.py[cod]
venv/
node_modules/
# Project specific
backend/ngrok-v3-stable-linux-amd64.tgz
postgres-config/
views/
index.html
concurrency_improvements.md
# Package management
package-lock.json
package.json
backend/package-lock.json
backend/package.json
# Environment and session files
backend/.env
backend/*.session
frontend/build/
