fastapi==0.104.1
uvicorn==0.24.0
gunicorn==23.0.0
python-dotenv==1.0.0
sqlalchemy==2.0.23
sqlalchemy-utils==0.41.1
psycopg2-binary==2.9.9
pydantic==2.10.6
pydantic-settings==2.8.1
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.6
telethon==1.30.3
asyncpg==0.28.0
bcrypt==4.0.1
alembic==1.12.1
httpx==0.25.1
email-validator==2.2.0
fastapi-mail==1.4.2
Jinja2==3.1.6
aiosmtplib==3.0.2
blinker==1.9.0
redis==5.0.1
aiohttp==3.11.13
aiosignal==1.3.2
anyio==3.7.1
idna==3.10
starlette==0.27.0
typing_extensions==4.12.2
pydantic_core==2.27.2
dnspython==2.7.0
certifi==2025.1.31
sniffio==1.3.1
httpcore==1.0.7
pyaes==1.6.1
cryptography==44.0.2
ecdsa==0.19.0
rsa==4.9
six==1.17.0
Mako==1.3.9
greenlet==3.1.1
pytz==2025.1
pendulum==3.0.0
python-dateutil==2.9.0 